jaxb2/src/main/resources/demo9/purchaseOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/purchase"
           xmlns:tns="http://example.com/purchase"
           elementFormDefault="qualified">

    <xs:element name="PurchaseOrder" type="tns:PurchaseOrderType"/>

    <xs:complexType name="PurchaseOrderType">
        <xs:sequence>
            <xs:element name="orderId" type="xs:int"/>
            <xs:element name="customerName" type="xs:string"/>
            <xs:element name="totalAmount" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
